@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #F9B80014 !important;
    padding-top: 20px;
    padding-bottom: 50px;
}

body p,
a {
    font-size: clamp(14px, 4vw, 16px);
}

body h2 {
    font-weight: 700;
}

body h3 {
    font-size: clamp(22px, 4vw, 32px);
}

.main {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(38, 38, 38, 0.12);
    padding: 10px 0px;
}

.header .logo img {
    width: 120px;
}

.language img {
    width: 40px;
}

.footer {
    margin-top: 100px;
}

.footer .container {
    background-color: #262626;
    border-radius: 32px;
    padding: 50px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.footer-top h3 {
    color: #fff;
    width: 50%;
    font-weight: 700;
}

.footer-top #footer-btn {
    background-color: #fff;
    padding: 16px 32px;
    display: flex;
    gap: 32px;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    color: #262626;
    border-radius: 50px;
}

.footer-bottom {
    padding: 40px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.12)
}

.footer-bottom ul {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    list-style: none;
    padding: 0px;
}

.footer-bottom ul li a {
    color: #fff;
}

.hero {
    position: relative;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    gap: 20px;
}

.hero h3 {
    color: #F9B800;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.hero h1 {
    color: #262626;
    font-size: clamp(42px, 4vw, 62px);
    font-weight: 700;
    text-align: center;
}

.hero .tabs,
.packages .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 20px;
}

.hero .tabs a,
.packages .tabs a {
    background-color: #fff;
    border-radius: 100px;
    padding: 10px 16px;
    text-decoration: none;
    color: #262626;
    font-weight: 600;
}

.hero .tabs a i,
.packages .tabs a i {
    color: #F9B800;
    margin-right: 10px;
}

.hero img {
    position: absolute;
    width: 40vw;
    top: 0px;
    left: 0;
    z-index: -1;
}

.hero #hero-btn,
.about #about-btn,
.work #work-btn,
.packages #packages-btn {
    background-color: #F9B800;
    padding: 16px 32px;
    display: flex;
    gap: 32px;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    color: #262626;
    border-radius: 50px;
}

.about #about-btn {
    background-color: #262626;
    color: #fff;
    width: 220px;
}

.about {
    position: relative;
}

.about .leaf {
    position: absolute;
    width: 40vw;
    z-index: -2;
    right: 0;
    bottom: -80%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.about .container {
    display: flex;
    background-color: #F9B800;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
}

.about .about-content h3 {
    font-weight: 700;
}

.about .about-content p a {
    color: #262626;
}

.about img {
    width: 50%;
}

.work .container {
    display: flex;
    flex-direction: row-reverse;
    background-color: #262626;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    gap: 80px;
    padding: 0px 50px;
}

.work .about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work .about-content p {
    color: #F9B800;
}

.work .about-content h3 {
    color: #fff;
}

.work #work-btn {
    background-color: #fff;
    color: #262626;
    width: 220px;
}

.work .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    transform: translateY(50px);
    width: 60%;
}

.work .grid-container .box {
    background-color: #fff;
    padding: 32px;
    border-radius: 32px;
    text-align: left;
}

.work .grid-container .box img {
    width: 60px;
    margin-bottom: 10px;
}

.work .grid-container .grid-item2,
.work .grid-container .grid-item4 {
    transform: translateY(50px);
}

.work .grid-container .grid-item2,
.work .grid-container .grid-item3 {
    background-color: #F9B800;
}

.work .grid-container .box h2 {
    font-size: clamp(32px, 4vw, 42px);
    font-weight: 700;
}

.work .grid-container .box h2 span {
    color: #F9B800;
    font-size: clamp(32px, 4vw, 42px);
    font-weight: 700;
}

.work .grid-container .box h4,
.work .grid-container .box h6 {
    font-weight: 700;
}

.work .grid-container .grid-item2 h2 span,
.work .grid-container .grid-item3 h2 span {
    color: #fff;
}

.testimonials {
    margin-top: 180px;
}

.testimonials .container {
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    position: relative;
}

.testimonials h2,
h4 {
    font-weight: 700;
    margin-bottom: 20px;
}

.testimonials p {
    font-size: clamp(16px, 4vw, 22px);
}

.testimonials .men {
    position: relative;
    z-index: 1;
    width: 30%;
}

.testimonials .carousel button {
    color: #F9B800 !important;
    position: relative !important;
    display: inline-block;
    width: fit-content;
    font-size: 22px;
    margin-right: 20px;
}

.packages {
    margin-top: 100px;
}

.packages .container {
    background-color: #fff;
}



#packages-btn {
    width: 220px;
}

.packages .tabs {
    justify-content: flex-start;
    margin-bottom: 20px;
}

.packages .tabs a {
    background-color: #FFFAEB;
}

.faq {
    margin: 100px 0px;
}

.faq .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 42px;
}

.faq .accordion {
    border-radius: 32px !important;
    overflow: hidden !important;
}

.faq .accordion-item {
    margin-bottom: 20px;
    border-radius: 32px;
    border: none;
    text-align: left;
    overflow: hidden;
    padding: 20px;
}

.faq .accordion-header {
    border-radius: 32px;
}

.faq .accordion-button {
    background-color: #fff !important;
    color: #262626 !important;
    border: none !important;
}

.faq .accordion-button:active {
    border: none !important;
}